<div class="home-form-container" style="width: 90%; margin: auto;">
  <%= form_for @tracking_plan, :html => {id: 'event_form', class: 'page-content'} do |f| %>
    <!--   Checking for error-->
    <% if @tracking_plan.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@tracking_plan.errors.count, "error") %> prohibited this page from being saved:</h2>
        <ul>
          <% @tracking_plan.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.label :name %><br>
    </div>
    <div class="form-group">
      <%= f.text_field :description, class: 'form-control' %>
      <%= f.label :description %><br>
    </div>

    <%= f.fields_for :events do |ff| %>
      <div class="flex gap-2">
        <div class="text-sm text-right"> <%= ff.object.id || "New Event" %> </div>
        <%= ff.check_box :_destroy, title: "Check to delete ingredient" %>

        <%= ff.label :name %><br>
        <div class="selectField">
          <%= ff.text_field :name   %>
        </div>
        <div class="selectField">
          <%= ff.text_field :description   %>
        </div>
        <div class="selectField">
          <%= ff.text_field :rules   %>
        </div>

      </div>
    <% end %>

    <%= f.submit "Add Event", name: :add_event %>

  <% end %>
</div>

<script type="text/javascript">
    function submitForm() {
        const form = document.getElementById('event_form');
        form.submit();
    }

</script>

