<div class="home-form-container" style="width: 90%; margin: auto;">
  <%= form_for @tracking_plan, :html => {id: 'event_form', class: 'page-content'} do |f| %>
    <!--   Checking for error-->
    <% if @tracking_plan.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@tracking_plan.errors.count, "error") %> prohibited this page from being saved:</h2>
        <ul>
          <% @tracking_plan.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :description %><br>
      <%= f.text_field :description, class: 'form-control' %>
    </div>

    <%= f.fields_for :events do |ff| %>
      <div class="flex gap-2" style="width: 100%;background: lightblue;padding: 20px;margin-bottom: 10px">
        <%= ff.label :remove_event, style: "margin-top:-2px;" %>
        <%= ff.check_box :_destroy, title: "Remove Event", style: "margin-left:10px;margin-top:2px;" %>

        <div class="selectField" style="margin-top: 15px">
          <%= ff.label :name %><br>

          <%= ff.text_field :name   %>
        </div>
        <div class="selectField" style="margin-top: 15px">
          <%= ff.label :description %><br>
          <%= ff.text_field :description   %>
        </div>
        <div class="selectField" style="margin-top: 15px">
          <%= ff.label :rules %><br>
          <%= ff.text_area :rules, class: "form-textarea-input", cols: 100, rows: 10   %>
        </div>

      </div>
    <% end %>

    <%= f.submit "Add Event", name: :add_event %>

  <% end %>
</div>

<script type="text/javascript">
    function submitForm() {
        const form = document.getElementById('event_form');
        form.submit();
    }

</script>

